body {
  background-color: darkgrey;
}

.container {
  background-color: lightgray;
  padding: 50px;
  border: 2px solid blue;
}

.logic {
  background-color: burlywood;
  padding: 5px;
  border: 2px solid green;
  border-radius: 3%;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
}

.ans {
  background-color: lightgray;
  padding: 5px;
  border: 2px solid green;
}

.copyright {
  background-color: darkslateblue;
  font-size: larger;
  font-style: oblique;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  padding: 4px;
  margin: 0%;
}